*{
    display: flexbox;
    max-height: 500px;
  background-color: yellowgreen; 
}

 h1 { 
   color:rgba(0, 255, 110, 0.888);
   font-size: medium;
 }
 #image{
   text-align: center;
 }
a { color: hsla(113, 100%, 50%, 0.635);
}
#p1 {
    color: rgb(62, 156, 68);
}
#table1 {
width: 2fr;
   front-family:sans-serif;
text-align: left;
border-collapse: separate;
border-spacing: 5px;
background-color:bisque;
border: 15px solid #00ffea;
}
td {
    background-color:goldenrod;
    padding: 10px;  
}